<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itors.fastspringboot.mapper.UserMapper">

    <update id="updateByUserId" parameterType="com.itors.fastspringboot.entity.UserInfo">
        UPDATE user_info set user_name = #{userName} where user_id = #{userId}
    </update>
</mapper>

